<% title @snippet.lang.name + ' ' + 'Snippet' %>

<% if @snippet.user %>
<div class="profile-container">
  <img class="pic img-circle"
       data-toggle="tooltip" data-placement="bottom"
       src="<%= github_avatar(@snippet.user.uid, 80) %>" style="width: 80px;">
  <p class="label label-primary label-username-page"><%= @snippet.user.name %></p>
</div>
<% end %>

<div class="page-header">
  <%= link_to :back, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if @render_buttons %>
      <%= link_to @snippet, method: :delete, data: { confirm: 'Do you really want to delete this snippet?' }, :class => 'btn btn-remove' do %>
          <span class="glyphicon glyphicon-trash"></span>
          Remove
      <% end %>
      <%= link_to edit_snippet_path(@snippet), :class => 'btn btn-edit' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
  <% end %>
  <h1 id="snippet-header"><%= @snippet.lang.name %> Snippet</h1>
</div>

<dl class="dl-horizontal">
  <dt>Lang:</dt>
  <dd><%= @snippet.lang.name %></dd>

  <dt>Description:</dt>
  <dd><%= @snippet.description %></dd>

  <dt>Creation date:</dt>
  <dd><%= @snippet.created_at.in_time_zone('Warsaw').to_formatted_s(:rfc822) %></dd>

  <dt>Last modification:</dt>
  <dd><%= @snippet.updated_at.in_time_zone('Warsaw').to_formatted_s(:rfc822) %></dd>

  <dt>Snippet:</dt>
  <dd class="snippet-code"><%= raw Pygments.highlight(@snippet.snippet, lexer: @snippet.lang.value.downcase, :options => { :linenos => true }) %></dd>

</dl>
